.body-part{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 15px;
}
.cart{

    margin-top: 10px;
    background-color: indianred;
    height: 464px;
    color: white;
}
.users{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-left: 20px;

}